@use "../../styles/colors";
@use "../../styles/animations";

.button {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: colors.$primary;
  @include animations.transition();

  &:hover,
  &:active {
    background-color: colors.$secondary;
  }
}
