@use "../../styles/screens";
@use "../../styles/spaces";

.movieList {
  margin-bottom: 30px;
  min-height: 20vw;
  &-link {
    margin-left: spaces.$left-edge;
    margin-bottom: 20px;
  }
}

.swiper {
  cursor: grab;
  .swiper-wrapper {
    margin-left: spaces.$left-edge;
  }
}

@media (max-width: screens.$media-md) {
  .swiper .swiper-wrapper,
  .movieList-link {
    margin-left: spaces.$left-edge-md;
  }
}
