.movieList {
  height: min(23vw, 330px);
  &-link {
    margin-left: 80px;
    margin-bottom: 20px;
  }
}

.swiper {
  cursor: grab;
  width: calc(100% + 0px);
  .swiper-wrapper {
    margin-left: 80px;
  }
}
