@use "../../styles/colors";
@use "../../styles/animations";
@use "../../styles/screens";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 50%;
  margin-inline: auto;

  &__logoHolder {
    font-size: 30px;
    transform: translateY(-10px);
    &-arrow {
      display: inline-block;
      font-size: 38px;
      padding-right: 15px;
      transform: translateY(5px);
    }
  }

  &__link {
    @include animations.transition();
    &:hover {
      color: colors.$primary;
    }
  }
}

@media (max-width: screens.$media-sm) {
  .header {
    width: calc(100% - 60px);
  }
}
